<style>
    #keen-flavor-picker{
        background:#FFF7E6;
        padding:0 1.3em 0;
        margin-top:0;
        display:flex;
        width:100%;
        flex-direction:column;
        align-items:center;
        position:relative;
    }
    #keen-flavor-picker .flavor-picker-heading{
        max-width: 80%;
        text-align: center;
    }
    #keen-flavor-picker .flavor-picker-row{
        display:flex;
        flex-direction:row;
        gap:5px;
        margin-top:0.4em;
    }
    #keen-flavor-picker .flavor-picker-product{
        flex:1 1 calc(16.67% - 5px);
        border-radius:5px;
        overflow:hidden;
        display:inline-flex;
        flex-direction:column;
        border:2px solid transparent;
        cursor:pointer;
    }
    #keen-flavor-picker .flavor-picker-product.active-product{
        border:2px solid #000;
    }
    #keen-flavor-picker .flavor-picker-product img{
        max-width:100%;
    }
    #keen-flavor-picker .flavor-picker-heading span{
        display:block;
    }
    @media(min-width:990px){
        #keen-flavor-picker{
            padding: 30px 1.3em 0;
            border-radius:10px 10px 0 0;
            margin-top:1.3em;
        }
        #keen-flavor-picker .flavor-picker-heading{
            width:100%;
            max-width:100%;
            text-align:left;
            font-size:17.5px;
        }
        #keen-flavor-picker .flavor-picker-heading span{
            display:inline;
        }
    }
</style>
<div id="keen-flavor-picker">
    <div id="flavors" style="height:6.4rem; position:absolute;z-index:-1;top:-6.4rem;"></div>
    <div class="flavor-picker-heading">
        <strong>Select Flavor:</strong> <span class="flavor-title">{{ product.title }}</span>
    </div>
    <div class="flavor-picker-row">
        {% assign all_collection =  product.collections[0].handle %}
        {% assign current_collection = collections[all_collection] %}
        {% for p in current_collection.products %}
            {% assign p_title = p.title %}
            {% assign p_thumb = p.featured_image | image_url: width:100  %}
            {% assign p_price = p.price %}
            {% assign p_handle = p.handle %}
            {% assign variant_id = p.selected_or_first_available_variant %}
            {% assign p_id = p.id %}
            <a
                class="flavor-picker-product {% if p_id == product.id %}active-product{% endif %}"
                data-product-id="{{ p_id }}"
                data-product-handle="{{ p_handle }}"
                data-product-price="{{ p_price }}"
                data-product-title="{{ p_title }}"
                data-product-variant-id="{{ variant_id.id }}"
                href="{{p.url}}"
            >
                <img src="{{ p_thumb }}" alt="{{ p_title }}" loading="lazy">
            </a>
        {% endfor %}
    </div>
</div>
{% comment %} <script>
    const flavor_ref = {};
    {% for p in current_collection.products %}
        {% assign p_id = p.id %}
        {% assign p_media = p.images | json %}
        console.log('{{ p_id }}',{{ p_media }});
        flavor_ref[`{{ p_id }}`] = {}
        flavor_ref[`{{ p_id }}`].description = `{{ p.description }}`;
    {% endfor %}
    
    //DOM elements
    const flavorPicker = document.querySelector("#keen-flavor-picker");
    const flavors = flavorPicker.querySelectorAll('.flavor-picker-product');
    const flavorTitle = flavorPicker.querySelectorAll('.flavor-title');

    //event listeners
    flavors.forEach(f => {
        f.addEventListener('click',switchFlavor)
    });

    //functions
    function switchFlavor(){
        //variables
        const f = this;
        const id = f.getAttribute('data-product-id');
        const handle = f.getAttribute('data-product-handle');
        const title = f.getAttribute('data-product-title');
        const domTitle = document.querySelectorAll('h1.product__title');
        const domDesc = document.querySelectorAll('.product__description');
        
        //handle dom changes
        flavorTitle.forEach(ft => {
            ft.innerText = title;
        })
        domTitle.forEach(t => {
            t.innerText = title;
        });
        domDesc.forEach(d => {
            d.innerHTML = flavor_ref[id]['description'];
        });

        //handle active class
        flavors.forEach(flav => {
            flav.classList.remove('active-product');
        });
        f.classList.add('active-product');
        handleFormChange(f);
        handleMediaChange(id);
    }
    function handleMediaChange(id){
        
    }
    function handleFormChange(f){
        const atc_form = document.querySelector('form[data-type="add-to-cart-form"]');
        const input_pid = atc_form.querySelector('input[name="product-id"]');
        const input_vid = atc_form.querySelector('input[name="id"]');
        const productId = f.getAttribute('data-product-id');
        const variantId = f.getAttribute('data-product-variant-id');
        input_pid.value = productId;
        input_vid.value = variantId;
    }
</script> {% endcomment %}