<style>
    #cro-move-{{ section.id }}{
        width:100%;
        margin:0 auto;
        padding:6.4rem 2rem 0rem;
        background:#FFF7E6;
        overflow:hidden;
    }
    #cro-move-{{ section.id }} .hero-m-content{
        display:flex;
        flex-direction:column;
        width:100%;
        align-items:center;
        gap:20px;
    }
    #cro-move-{{ section.id }} .hero-title h2{
        font-size:30px;
    }
    #cro-move-{{ section.id }} .hero-text ul{
        list-style:square;
        max-width:100%;
        margin-left:2.5rem;
    }
    #cro-move-{{ section.id }} .btn-container{
        width:100%;
    }
    #cro-move-{{ section.id }} .btn{
        display:block;
        color:#000;
        background:#23E129;
        border-radius:50px;
        border: 2px solid #000;
        padding:15px;
        text-align:center;
        font-size:19px;
        box-shadow: 0px 4px 0 #000;
    }
    #cro-move-{{ section.id }} .hero-container{
        position:relative;
        width:100%;
        img{
            width:100%;
            margin:25px 0px;
            border: 2px solid #000;
            border-radius: 15px;
        }
    }
    @media(min-width:1024px){
        #cro-move-{{ section.id }}{
            padding:0 2rem;
        }
        #cro-move-{{ section.id }} .btn-container{
            width:66%;
        }
        #cro-move-{{ section.id }} .hero-m-content{
            flex-basis:50%;
            align-items:flex-start;
        }
        #cro-move-{{ section.id }} .hero-title h2{
            text-align:left;
            font-size:39px;
        }
        #cro-move-{{ section.id }} .desktop-gutter{
            display:flex;
            flex-direction:row;
            max-width:1840px;
            width:100%;
            padding-left:8rem;
            padding-right:8rem;
            margin-left:auto;
            margin-right:auto;
            align-items:center;
        }
        #cro-move-{{ section.id }} .hero-container{
            width:50vw;
        }
        
    }
</style>
<div id="cro-move-{{ section.id }}">
    <div class="desktop-gutter">
        <div class="hero-m-content">
            <div class="hero-title">
                <h2>{{ section.settings.title }}</h2>
            </div>
            <div class="hero-text">
                {{ section.settings.hero_text }}
            </div>
            <div class="btn-container">
                <a class="btn btn-move-top" title="buy-now" href="#flavors">
                    Buy Now
                </a>
            </div>
        </div>
        <div class="hero-container">
            <picture>
                <source media="(min-width:768px)" srcset="{{ 'desk-hero.jpg' | file_url }}">
                <img src="{{ section.settings.hero_img_mobile | image_url }}">
            </picture>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "CRO Hero",
    "presets": [{
        "name": "CRO Hero"
    }],
    "settings": [
        {
            "type": "text",
            "default":"WHY CUSTOMERS LOVE DAAL",
            "id": "title",
            "label": "Title"
        },
        {
            "type":"richtext",
            "id":"hero_text",
            "label": "Main Content"
        },
        {
            "type":"image_picker",
            "id":"hero_img_mobile",
            "label": "Hero Image Mobile"
        }
    ]
}
{% endschema %}